body {
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    right: -30px;
    display: inline-block;
    width: 1200px;
    height: 540px;
    background-color: lightblue;
}

img {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color:lightblue 
}

h3{
    text-align: center;
    color:crimson;
}

div{
    position: relative;
    display: inline-block;
    background-color: darkolivegreen;
    border-radius: 30%;
    width: 60px;
    height: 60px;
}

